<%- include('../partials/header')  -%>

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">CLASS ATTENDANCE</h2>
            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="index.html">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="/courses">Courses</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="/courses/<%= course._id %>"><%= course.topic %></a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Attendence</span>
    </div>
</div>
</div>

<div class="container">
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Rating</th>
                <% if(currentUser && course.author.id.equals(currentUser._id)){ %>
                <th scope="col">Remove</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% course.students.forEach(student => { %>
            <tr>
                <td><%= student.author.fullname %></td>
                <td><%= student.author.username %></td>
                <td><%= student.author.email %></td>
                <td>
                    <% if(currentUser && student.author.id.equals(currentUser._id)){ %>
                    <a href="/courses/<%= course._id %>/enroll/<%= student._id %>/edit"
                        class="btn btn-warning btn-sm">Rate</a>
                    <% } else { %>
                    <%= student.rating %>
                    <% } %>
                </td>
                <% if(currentUser && course.author.id.equals(currentUser._id)){ %>
                <td>
                    <form action="/courses/<%= course._id %>/enroll/<%= student._id %>?_method=DELETE" method="POST">
                        <button style="display: inline;" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </td>
                <% } %>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
</div>

<%- include('../partials/footer')  -%>